@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1626850682757') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconintroduce01:before {
  content: "\e626";
}

.icon-menu:before {
  content: "\e647";
}

.icon-jieshao:before {
  content: "\e609";
}

.icon-jinengdian:before {
  content: "\e605";
}

.icon-more:before {
  content: "\e60a";
}

.icon-card-hero:before {
  content: "\e61f";
}

.icon-shipin:before {
  content: "\e61a";
}

.icon-back:before {
  content: "\e71c";
}

