@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627360945166') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gonglve:before {
  content: "\e73b";
}

.icon-iconintroduce01:before {
  content: "\e626";
}

.icon-menu:before {
  content: "\e647";
}

.icon-jieshao:before {
  content: "\e609";
}

.icon-jinengdian:before {
  content: "\e605";
}

.icon-more:before {
  content: "\e60a";
}

.icon-saishi:before {
  content: "\e61a";
}

.icon-card-hero:before {
  content: "\e61f";
}

.icon-xiala2-copy-copy:before {
  content: "\e50a";
}

.icon-1:before {
  content: "\e619";
}

.icon-shipin:before {
  content: "\e61b";
}

.icon-shequ:before {
  content: "\e627";
}

.icon-back:before {
  content: "\e71c";
}

.icon-xiala:before {
  content: "\e639";
}

